/** COMMON CSS STARTS*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Poppins:wght@300;400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primaryFont: "Poppins", sans-serif;
    --secondaryFont: "PT Sans", sans-serif;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, ul, ol p, span{
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--primaryFont);
}
/** COMMON CSS ENDS*/

/* * NAVBAR STARTS HERE */
nav {
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 16px !important;
  }
  #custom-nav ul li a {
    font-size: 15px;
    font-weight: 500;
    line-height: 200%;
    padding: 18px 22px 5px;
    display: block;
    text-transform: uppercase;
    position: relative;
  }
  #custom-nav li a::before {
    content:'';
    width: 0%;
    height: 2px;
    background-color: rgb(255, 183, 0);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.25s;
  }
  #custom-nav ul li:hover a::before {
    width: 100%;
  }
  nav .navbar-toggler {
    border: none;
  }
  nav .navbar-toggler:focus {
    box-shadow: none;
  }
  /* * NAVBAR ENDS HERE */




